.code-editor__input-answer {
  width: calc(100% - 150px);
  margin-right: 5px;
}

.code-editor__input-answer.wrong-answer {
  background-color: #ff9393;
}

.code-editor__button {
  width: 60px;
  margin-right: 5px;
}

@media (max-width: 850px) {
  .code-editor {
    width: 90%;
  }
}