.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  z-index: 4;
  background-color: #272525;
  padding: 15px;
  transition: all 0.5s ease 0s;
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  padding: 0px 10px;
}

.nav__item {
  margin: 15px 0px;
  font-size: 18px;
}

.nav__item-status {
  transition: all 0.5s;
}

.nav__item-status.isNotDone {
  opacity: .3;
}

.nav__item-status.isDoneWithHelp {
  color: #865eff7e;
}

.nav__item-status.isDone {
  color: #865eff;
}

.nav__level-number {
  cursor: pointer;
  transition: all 0.5s;
  margin: 0px 10px;
}

.nav__item:hover .nav__level-number {
  color: #865eff;
}

.nav__level-number.checked {
  color: #865eff;
}

.nav__reset-button {
  line-height: 30px;
  margin: 20px 0;
  width: 100%;
}