html,
body {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 14px;
  color: #C9C8CC;
  font-weight: 400;
  font-style: normal;
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

h2 {
  font-size: 20px;
}

.button {
  background-color: #5c595fa1;
  border: none;
  color: #c9c8cc;
  border-radius: 5px;
  padding: 3px;
  min-width: 50px;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color: #5c595f;
}

.container {
  max-width: 1220px;
  margin: 0px auto;
}

.header {
  background-color: #37323E;
  min-height: 70px;
}

.header__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #2B282F;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: 150px;
}

.logo::after {
  content: url(./assets/rss_logo.svg);
  display: block;
  width: 100px;
  margin: 0 20px;
}