.board__element {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease 0s;
}

.board__element.hover {
  outline: 5px solid #c9c8ccb4;
}

circle {
  background-color: #dbd0fd;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

squares {
  background-color: #ffffcb;
  width: 80px;
  height: 80px;
}

rectangle {
  width: 60px;
  height: 40px;
  background-color: #b6dcb9;
}

#gradient {
  background: linear-gradient(90deg, #dbd0fd, #4b3982);
}

squares.small {
  width: 40px;
  height: 40px;
}

rectangle.small {
  width: 25px;
  height: 15px;
}